<% content_for :validate_new do %>
  <%= javascript_include_tag "validate" %>
<% end %>
<div class="container">
  <div class="row">
    <%= form_with model: @room, local: true, html: {class: "form-group", id: :new_room} do |f| %>
      <%= render "form", frm: f, room: @room %>
      <%= f.submit t(".update"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
